<% layout("Layout/boilerplate") %>

<div class="container">

    <div id="filters"> 
        <div class="filter"> 
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div>
        <div class="tax-toggle" >
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
            </div>
        </div>
    </div>
    
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-3 mt-3">

        
        <% for(let listing of allListings){%>
        
           <div class="col mb-4">
    <div class="card listing-card shadow-sm">

        <a href="/listings/<%= listing._id %>" class="listing-link">
            <img 
                src="<%= listing.image.url %>" 
                class="card-img-top img-fluid" 
                alt="listing_image"
                style="height: 20rem; object-fit: cover; border-radius: 10px 10px 0 0;"
            >
        </a>

        <div class="card-body">

            <p class="card-text mb-2">
                <b><%= listing.title %></b><br>
                ₹ <%= listing.price.toLocaleString("en-IN") %> / night
                <i class="tax-info">&nbsp;+18% GST</i>
            </p>

            <form action="/listings/<%= listing._id %>/confirm-booking" method="GET">
                <button type="submit" class="btn btn-danger w-100">
                    Reserve
                </button>
                </form>

            </div>

            </div>
            </div>    
        <%} %>
        
    </div>
</div>