<% layout("Layout/boilerplate") %>

<div class="container">

    <div id="filters"> 
        <div class="filter"> 
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div>
        <div class="tax-toggle" >
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
            </div>
        </div>
    </div>
    
    <div class="row row-cols-xxl-3 row-cols-xl-3 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3 g-4">
        
        <% for(let listing of allListings){%>
        
            <div class="card col listing-card">
        
                <a href="/listings/<%= listing._id %>" class="listing-link">
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b><%=listing.title %></b> <br>
                            &#8377; <%= typeof listing.price === 'number' ? listing.price.toLocaleString("en-IN") : "N/A" %> / night
                            <i class="tax-info"> &nbsp;+18%GST</i>
                        </p>
                    </div>
                </a>
                
                <form 
                    action="/listings/<%= listing._id %>/confirm-booking" 
                    method="GET" 
                    style="position: absolute; bottom: 10px; left: 10px; z-index: 5;">
                    
                    <button type="submit" class="new-reserve-action btn btn-danger">
                        Reserve
                    </button>
                    
                </form>
        
            </div>
        
        <%} %>
        
    </div>
</div>